.projects-container {
    background: lightgray;
    color: #232323;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container>.projects-peep-container {
    height: 0;
    width: 100%;
    background: lightgray;
    padding-top: 85px;
    position: relative;
    top: -57px;
    left: -1px;
    transform: rotate(2deg);
    margin-left: -4px;
    margin-right: -5px;
}

.projects-container>.projects-contents {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}