@import "shared/styles/colors.scss";
body {
    background-color: $grey;
}
.row {
    margin: 0;
}

.reflect-black {
    -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.1)));
}
.reflect-white {
    -webkit-box-reflect: below -12px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(56%, transparent), to(rgba(255, 255, 255, 0.1)));
}

.app-container {
    height: 100%;
    width: 100%;
    .header-con {
        background-color: $grey;
        border-radius: 0;
        color: $white;
        padding: 2rem 0rem;
        img {
            width: 160px;
        }
    }
    .about-con {
        background-color: $white;
        .contact-card {
            max-width: 400px;
            img {
                border-radius: 100px;
                width: 100px;
            }
            .description-con {
                height: 100px;
            }
            .icon-links {
                color: $grey;
                width: 150px;
                a {
                    text-decoration: none;
                    color: $grey;
                }
            }
        }
    }

    .services-con {
        background-color: $white;
    }

    .lab-con{
        color:$white;
        >div {
            max-width:500px;
        }
    }

    .contact-con{ 
        color: $white;
        label { color: $white;}
        .contact-form {
            min-width: 600px;
        }
    }

    .footer-con {
        color: $white;
    }
}